/* 手机等小屏幕手持设备 */
/*此参数为iphone5-iphone6的高度限制*/
@media screen and (min-height:480px) and (max-height: 667px) {
    body {
        font-family: Helvetica, Arial, Vernada, Tahoma, STFangsong, STXihei, "Songti SC", "Microsoft YaHei", Heiti, sans-serif;
        margin: 5% 5% 5% 5%;
        padding: 2% 5% 5% 5%;
    }
}

@media only screen and (min-width: 667px) {
    body {
        font-family: Helvetica, Arial, Vernada, Tahoma, STFangsong, STXihei, "Songti SC", "Microsoft YaHei", Heiti, sans-serif;
        margin: 5% 10% 5% 10%;
        padding: 2% 5% 5% 5%;
        width: 70%;
        line-height: 150%;
        border: 1px solid LightGrey;
    }
}


nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

H1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    line-height: 150%;
}

H2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin-bottom: 60px;
    margin-bottom: 40px;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    width: 90%;
    line-height: 150%;
    color: DarkGreen;
}


H3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 1px LightGrey solid;
    width: 80%;
    line-height: 150%;
    color: DarkBlue;
}


H4 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 1px LightGrey solid;
    width: 80%;
    line-height: 150%;
    color: DarkBlue;
}


li {
    margin-left: 10px;
}


blockquote {
    border-left: 4px lightgrey solid;
    padding-left: 5px;
    margin-left: 20px;
}


pre {
    font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
    font-size: 75%;
    border: solid 1px lightgrey;
    background-color: Ivory;
    padding: 5px;
    line-height: 130%;
    margin-left: 10px;
    width: 95%;
}


code {
    font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
    font-size: 90%;
    word-wrap:break-word;
    white-space: pre-wrap;
}

a {
    text-decoration: none;
    cursor: crosshair;
    border-bottom: 1px dashed Red;
    padding: 1px;
    color: black;
}

a:hover {
	background-color: LightGrey;
}

/*img {*/
    /*margin-left: 10px;*/
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 30px;*/
    /*margin-bottom: 30px;*/
    /*width: 60%;*/
/*}*/
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
hr {
    color: LightGrey;
}
